<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>

    <body>
        <h1>
            Profile
        </h1>

        <div>
            <div>
                <p>
                    <a th:href="@{/user}">Страница клиента</a>
                </p>
                <p>
                    <a th:href="@{/logout}">Выйти</a>
                </p>
            </div>

            <p>
                <a th:href="@{/}">Домашняя страница</a>
            </p>
        </div>


        <p>
            Email: <span th:text="${user.email}"></span>
        </p>
        <p>
            Пароль скрыт, изменить временно нельзя
        </p>

        <form action="#" th:action="@{/user/profile}" method="post" th:object="${user}">
            <p>
                <label>Имя</label>
                <input th:field="*{firstName}" th:value="*{firstName}">
                <span style="color: red;" th:if="${#fields.hasErrors('firstName')}" >
                        Введите имя
                </span>
            </p>

            <p>
                <label>Фамилия</label>
                <input th:field="*{lastName}" th:value="*{lastName}">
                <span style="color: red;" th:if="${#fields.hasErrors('lastName')}">
                        Введите фамилию
                </span>
            </p>

            <button>
                Изменить
            </button>
        </form>
    </body>
</html>