<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
    </head>

    <body>
        <h1>
            Shopping history
        </h1>

        <div>
            <p>
                <a th:href="@{/}">Домашняя страница</a>
            </p>
            <p>
                <a th:href="@{/user}">Страница клиента</a>
            </p>
        </div>

        <div>
            <p>Заказы</p>

            <div th:each="order: ${orders}" style="border: 2px solid black; margin: 10px;">
                <p>ID заказа <span th:text="${order.id}"></span></p>
                <div th:each="b: ${order.books}" style="border: 2px solid gray; margin: 5px;">
                    <a th:text="${b.book.name}" th:href="@{/book(id=${b.book.id})}"></a>

                    <p th:if="${b.book.quantity > 0}">Цена: <span th:text="${b.book.price}"></span></p>

                    <div th:if="${b.isValidQuantity() || order.isCompleted()}">
                        <p>Количество <span th:text="${b.quantity}"></span></p>
                    </div>

                    <div th:unless="${b.isValidQuantity() || order.isCompleted()}" style="color: red;">
                        <div th:if="${b.book.quantity > 0}">
                            <p>
                                В заказе <span th:text="${b.quantity}"></span>
                                из <span th:text="${b.book.quantity}"></span> возможных
                            </p>
                        </div>

                        <div th:unless="${b.book.quantity > 0}">
                            Данный товар закончился
                        </div>
                    </div>
                </div>

                <div th:if="${order.isCompleted()}">
                    <p th:text="${order.status.description}"></p>
                </div>

                <div th:unless="${order.isCompleted()}">
                    <a th:href="@{/cart(id=${order.id})}">Изменить заказ</a>

                    <form action="#" th:action="@{/user/deleteCart(id=${order.id})}" th:method="delete">
                        <button>
                            Удалить заказ
                        </button>
                    </form>

                    <h4>Общая цена: </h4>
                    <p th:text="${order.getPrice()}"></p>

                    <form action="#" th:action="@{/user/paidCart(id=${order.id})}" th:method="post">
                        <button>
                            Оплатить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>