<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
    </head>

    <body>
        <h1>
            Book design
        </h1>

        <form action="#" th:action="@{/employee/add-book}" method="post" th:object="${book}">
            <p>
                <label>Название книги</label>
                <input th:field="*{name}">
                <span style="color: red;" th:if="${#fields.hasErrors('name')}">
                    Введите название книги
                </span>
            </p>

            <p>
                <label>Автор книги </label>
                <input th:field="*{author}">
                <span style="color: red;" th:if="${#fields.hasErrors('author')}">
                    Введите автора книги
                </span>
            </p>

            <p>
                <label>Язык книги</label>
                <input th:field="*{language}">
                <span style="color: red;" th:if="${#fields.hasErrors('language')}">
                    Введите язык книги
                </span>
            </p>

            <p>
                <label>Жанр</label>
                <select th:field="*{genre}">
                    <option th:each="g : ${genres}" th:value="${g.id}" th:text="${g.name}"/>
                </select>
            </p>

            <p>
                <label>Дата публикации</label>
                <input th:field="*{publicationYear}">
                <span style="color: red;" th:if="${#fields.hasErrors('publicationYear')}">
                    Год - строка до 4 символов
                </span>
            </p>

            <p>
                <label>Описание книги</label>
                <input th:field="*{description}">
                <span style="color: red;" th:if="${#fields.hasErrors('description')}">
                    Описание содержит максимум 100 символов
                </span>
            </p>

            <p>
                <label>ISBN-13 книги</label>
                <input th:field="*{ISBN}">
                <span style="color: red;" th:if="${#fields.hasErrors('ISBN')}">
                    ISBN состоит ровно из 13 чисел
                </span>
            </p>

            <p>
                <label>Количество страниц в книге</label>
                <input th:field="*{pages}">
                <span style="color: red;" th:if="${#fields.hasErrors('pages')}">
                    Введите число страниц в книге
                </span>
            </p>

            <p>
                <label>Цена книги</label>
                <input th:field="*{price}">
                <span style="color: red;" th:if="${#fields.hasErrors('price')}">
                    Введите цену книги
                </span>
            </p>

            <p>
                <label>Укажите количество книг на складе</label>
                <input th:field="*{quantity}">
                <span style="color: red;" th:if="${#fields.hasErrors('quantity')}">
                    Введите количество книг на складе
                </span>
            </p>

            <button>Добавить книгу</button>
        </form>
    </body>
</html>