<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
    </head>

    <body>
        <h1>
            Book
        </h1>

        <div>
            <div>
                <p sec:authorize="!isAuthenticated()">
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Войти</a>
                </p>
                <p sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}">Выйти</a>
                </p>

                <a th:href="@{/register}">Регистрация</a>
            </div>

            <p>
                <a th:href="@{/}">Домашняя страница</a>
            </p>

            <div sec:authorize="isAuthenticated()">
                <p sec:authorize="hasRole('USER')">
                    <a th:href="@{/user}">Страница клиента</a>
                    <a th:if="${booksOrder != null && !booksOrder.books.isEmpty()}" th:href="@{/cart}">Текущий заказ</a>
                </p>
                <p sec:authorize="hasRole('EMPLOYEE')">
                    <a th:href="@{/employee}">Страница работника</a>
                </p>
                <p sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin}">Страница администратора</a>
                </p>
            </div>
        </div>

        <div th:object="${book}">
            <p>
                Ид: <span th:text="*{id}"></span>
            </p>
            <p>
                Автор: <span th:text="*{author}"></span>
            </p>
            <p>
                Язык: <span th:text="*{language}"></span>
            </p>
            <p>
                Жанр: <span th:text="*{genre.name}"></span>
            </p>
            <p>
                Описание: <span th:text="*{description}"></span>
            </p>
            <p>
                ISBN: <span th:text="*{ISBN}"></span>
            </p>
            <p>
                Количество страниц: <span th:text="*{pages}"></span>
            </p>

            <div>
                <p th:if="*{quantity < 1}" style="color: red;">Товар закончился</p>
                <p th:unless="*{quantity < 1}">Цена: <span th:text="*{price}"></span></p>

                <p th:if="*{quantity >= 1 && quantity < 5}">Осталось мало</p>

                <div th:if="${booksOrder.containBook(book.id)}">
                    <div th:if="${booksOrder.isBookValidQuantityById(book.id)}">
                        <form action="#" th:action="@{/addBookToOrder(id=*{id})}" method="post">
                            <button>
                                +
                            </button>
                        </form>

                        <p th:text="${booksOrder.getQuantityById(book.id)}">
                        </p>

                        <form action="#" th:action="@{/putBookFromOrder(id=*{id})}" method="post">
                            <button>
                                -
                            </button>
                        </form>
                    </div>

                    <div th:unless="${booksOrder.isBookValidQuantityById(book.id)}">
                        <div th:if="*{quantity > 0}">
                            <p style="color: red;">
                                В заказе <span th:text="${booksOrder.getQuantityById(book.id)}"></span>
                                из <span th:text="*{quantity}"></span> возможных
                            </p>

                            <form action="#" th:action="@{/changeBookFromOrderToMax(id=${book.id})}" th:method="post">
                                <button>
                                    Изменить на максимально возможное
                                </button>
                            </form>
                        </div>
                    </div>

                    <form action="#" th:action="@{/deleteBookFromOrder(id=*{id})}" th:method="delete">
                        <button>
                            Удалить из корзины
                        </button>
                    </form>
                </div>

                <div th:unless="${booksOrder.containBook(book.id)}">
                    <div th:if="*{quantity > 0}">
                        <form action="#" th:action="@{/addBookToOrder(id=*{id})}" method="post">
                            <button>
                                Добавление в корзину
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>