<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
    </head>

    <body>
        <h1>
            Cart
        </h1>

        <a th:href="@{/}">Домашняя страница</a>

        <div style="border: 2px solid red">
            <h2>Книги в заказе</h2>

            <div th:each="b : ${booksOrder.books}" style="border: 2px solid black">
                <a th:text="${b.book.name}" th:href="@{/book(id=${b.book.id})}">
                    Здесь должна быть картинка
                </a>

                <div>
                    <form action="#" th:action="@{/addBookToOrder(id=${b.book.id})}" method="post">
                        <button>
                            +
                        </button>
                    </form>

                    <p th:text="${booksOrder.getQuantityById(b.book.id)}">
                    </p>

                    <form action="#" th:action="@{/putBookFromOrder(id=${b.book.id})}" method="post">
                        <button>
                            -
                        </button>
                    </form>

                    <form action="#" th:action="@{/deleteBookFromOrder(id=${b.book.id})}" method="post">
                        <button>
                            Удалить из корзины
                        </button>
                    </form>
                </div>
            </div>

            <h3>Общая цена: </h3>
            <span th:text="${booksOrder.getPrice()}"></span>
        </div>

        <div th:if="${booksOrder.getPrice() > 0}" style="border: 2px solid blue">
            <h2>Адрес и оплата заказа</h2>

            <form action="#" th:action="@{/cart}" method="post" th:object="${booksOrder}">
                <p>
                    <label>Название</label>
                    <input th:field="*{deliveryName}" th:value="*{deliveryName}">
                    <span style="color: red;" th:if="${#fields.hasErrors('deliveryName')}">
                        Введите
                    </span>
                </p>

                <p>
                    <label>Улица</label>
                    <input th:field="*{deliveryStreet}" th:value="*{deliveryStreet}">
                    <span style="color: red;" th:if="${#fields.hasErrors('deliveryStreet')}">
                        Введите улицу
                    </span>
                </p>

                <p>
                    <label>Город</label>
                    <input th:field="*{deliveryCity}" th:value="*{deliveryCity}">
                    <span style="color: red;" th:if="${#fields.hasErrors('deliveryCity')}">
                        Введите город
                    </span>
                </p>

                <p>
                    <label>Область</label>
                    <input th:field="*{deliveryState}" th:value="*{deliveryState}">
                    <span style="color: red;" th:if="${#fields.hasErrors('deliveryState')}">
                        Введите область
                    </span>
                </p>

                <p>
                    <label>Почтовый индекс</label>
                    <input th:field="*{deliveryZip}" th:value="*{deliveryZip}">
                    <span style="color: red;" th:if="${#fields.hasErrors('deliveryZip')}">
                        Введите почтовый индекс
                    </span>
                </p>


                <p>
                    <label>Номер карты</label>
                    <input th:field="*{ccNumber}" th:value="*{ccNumber}">
                    <span style="color: red;" th:if="${#fields.hasErrors('ccNumber')}">
                        Введите номер карты
                    </span>
                </p>

                <p>
                    <label>Дата</label>
                    <input th:field="*{ccExpiration}"  th:value="*{ccExpiration}">
                    <span style="color: red;" th:if="${#fields.hasErrors('ccExpiration')}">
                        Формат MM/YY
                    </span>
                </p>

                <p>
                    <label>CVV</label>
                    <input th:field="*{ccCVV}" th:value="*{ccCVV}">
                    <span style="color: red;" th:if="${#fields.hasErrors('ccCVV')}" >
                        Введите CVV
                    </span>
                </p>

                <button>
                    Создать заказ
                </button>
            </form>
        </div>
    </body>
</html>