<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
    </head>

    <body>
        <h1>
            Home
        </h1>

        <div>
            <div>
                <p sec:authorize="!isAuthenticated()">
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Войти</a>
                </p>
                <p sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}">Выйти</a>
                </p>

                <a th:href="@{/register}">Регистрация</a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <p sec:authorize="hasRole('USER')">
                    <a th:href="@{/user}">Страница клиента</a>
                    <a th:if="${booksOrder != null && !booksOrder.books.isEmpty()}" th:href="@{/cart}">Текущий заказ</a>
                </p>
                <p sec:authorize="hasRole('EMPLOYEE')">
                    <a th:href="@{/employee}">Страница работника</a>
                </p>
                <p sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin}">Страница администратора</a>
                </p>
            </div>
        </div>


        <div>
            <div th:each="b : ${books}" style="border: 2px solid black; margin: 10px;">
                <a th:text="${b.name}" th:href="@{/book(id=${b.id})}">
                    Здесь должна быть картинка
                </a>

                <p th:if="${b.quantity < 1}">Товар закончился</p>
                <p th:unless="${b.quantity < 1}">Цена: <span th:text="${b.price}"></span></p>

                <p th:if="${b.quantity >= 1 && b.quantity < 5}">Осталось мало</p>

                <div th:if="${booksOrder.containBook(b.id)}">
                    <div th:if="${booksOrder.isBookValidQuantityById(b.id)}">
                        <form action="#" th:action="@{/addBookToOrder(id=${b.id})}" method="post">
                            <button>
                                +
                            </button>
                        </form>

                        <p th:text="${booksOrder.getQuantityById(b.id)}">
                        </p>

                        <form action="#" th:action="@{/putBookFromOrder(id=${b.id})}" method="post">
                            <button>
                                -
                            </button>
                        </form>
                    </div>

                    <div th:unless="${booksOrder.isBookValidQuantityById(b.id)}">
                        <div th:if="${b.quantity > 0}">
                            <p style="color: red;">
                                В заказе <span th:text="${booksOrder.getQuantityById(b.id)}"></span>
                                из <span th:text="${b.quantity}"></span> возможных
                            </p>

                            <form action="#" th:action="@{/changeBookFromOrderToMax(id=${b.id})}" th:method="post">
                                <button>
                                    Изменить на максимально возможное
                                </button>
                            </form>
                        </div>
                    </div>

                    <form action="#" th:action="@{/deleteBookFromOrder(id=${b.id})}" th:method="delete">
                        <button>
                            Удалить из корзины
                        </button>
                    </form>
                </div>

                <div th:unless="${booksOrder.containBook(b.id)}">
                    <div th:if="${b.quantity > 0}">
                        <form action="#" th:action="@{/addBookToOrder(id=${b.id})}" method="post">
                            <button>
                                Добавление в корзину
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>