<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
    </head>

    <body>
        <h1>
            Shopping history
        </h1>

        <div>
            <a th:href="@{/}">Домашняя страница</a>
        </div>

        <div>
            <p>Заказы</p>

            <div th:each="order: ${orders}" style="border: 2px solid black">
                <p>ID заказа <span th:text="${order.id}"></span></p>
                <div th:each="b: ${order.books}" style="border: 2px solid gray">
                    <a th:text="${b.book.name}" th:href="@{/book(id=${b.book.id})}"></a>
                    <p>Количество <span th:text="${b.quantity}"></span></p>
                </div>

                <div th:if="${order.isCompleted()}">
                    <p th:text="${order.status.description}"></p>
                </div>
                <div th:unless="${order.isCompleted()}">
                    <a th:href="@{/cart(id=${order.id})}">Изменить заказ</a>

                    <form action="#" th:action="@{/deleteCart(id=${order.id})}" th:method="delete">
                        <button>
                            Удалить заказ
                        </button>
                    </form>

                    <form action="#" th:action="@{/paidCart(id=${order.id})}" th:method="post">
                        <button>
                            Оплатить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>